DATABASE_URL=postgresql://user:pass@ep-xxx.region.neon.tech/muixer?sslmode=require
NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:4200

# Legacy API (sync)
LEGACY_API_URL=https://colla-muixeranguera.appsistencia.cat
LEGACY_API_USERNAME=XXXXXX
LEGACY_API_PASSWORD=XXXXXX
