<div [formGroup]="formGroup()" class="flex flex-col gap-4">
  @if (heading()) {
    <h3 class="font-serif font-semibold text-base-content">{{ heading() }}</h3>
  }

  <lib-input
    label="Nom"
    size="md"
    formControlName="name"
    autocomplete="given-name"
  />

  <lib-input
    label="Primer cognom"
    size="md"
    formControlName="firstSurname"
    autocomplete="family-name"
  />

  <lib-input
    label="Segon cognom"
    hint="Opcional"
    size="md"
    formControlName="secondSurname"
    autocomplete="additional-name"
  />

  <lib-select label="Gènere" size="md" formControlName="gender">
    <option value="" disabled>Seleccioneu una opció</option>
    @for (gender of genders; track gender) {
      <option [value]="gender">{{ genderLabels[gender] }}</option>
    }
  </lib-select>

  <div class="flex gap-2">
    <div class="w-24 shrink-0">
      <lib-select label="País" size="md" formControlName="country">
        @for (country of countries; track country.code) {
          <option [value]="country.code">{{ country.flag }} {{ country.callingCode }}</option>
        }
      </lib-select>
    </div>

    <div class="flex-1 min-w-0">
      <lib-input
        label="Telèfon"
        type="tel"
        inputMode="tel"
        size="md"
        formControlName="phoneNumber"
        autocomplete="tel-national"
      />
    </div>
  </div>

  <lib-input
    label="Data de naixement"
    type="date"
    size="md"
    formControlName="birthDate"
  />
</div>
